
head{
    display:none;

}

.body, h1, h2, h3, h4, h5, h6, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    font-family: Popins;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6{
    font-size: calc(1rem + 5vw);
}

.body{
    height:auto;
    background: #000000;
    position: relative;
    min-width: 600px;
    max-width: 100%;
    width: 1920px;

}
div{
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
}

.logotext{
    color:#fff;
    font-family: Poppins;
    font-size: 3vw;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    clear:right;
}
logo_start{
    width: 45px;
}
.nav{
    left:120px;
}

a{
    text-decoration: none;
    color:#707070;
    font-family: Poppins;
    font-size: calc(1rem + 0.3vw);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 20px;
    transition: all 0.2s linear;
}
a:hover{
    color:#326DF9;

}

.ul_header{
    list-style-type:none; 
}

.btn_1{
    color: #b3b3b3;
    padding: 12px 20px 13px 22px;
    background: #000;
    border: 2px solid #b3b3b3;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s linear;

}

.btn_1:hover{
    color: #fff;
    background: #306EF7;
    border: 2px solid #306EF7;
}
.own{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 168px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 142px;
    font-size: calc(1rem + 5vw);
}
.gradient{
    font-family: Poppins;
    font-size: calc(1rem + 5vw);
    font-style: normal;
    font-weight: 700;
    line-height: 168px;
    letter-spacing: 0px;
    text-align: left;
    background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #0B2349;
    line-height: 1;
}
.p_1{
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    width:600px;
    margin-top: 136px;

}
.btn_2{
    color: #b3b3b3;
    padding: 23px 74px 24px 75px;
    background: #000;
    border: 2px solid #b3b3b3;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s linear;
    width: 313px;
}
.btn_2:hover{
    color: #fff;
    background: #306EF7;
    border: 2px solid #306EF7;
}
.btn{
    width:100%;
    margin-top: 50px;
}
.p_2{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    color: #fff;
    margin-left: 9.82px;
    margin-right: 9px;
    margin-bottom: 188px;

}
.pr_3{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color:#707070;
    width: 100%;

}
.p_3{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color:#707070;
}
.dot{
    margin-top: 22px;
    width:2%;
    vertical-align: sub;
}

.smile_text{
    width:630px;

    
}
h2{
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 112px;
    letter-spacing: 0px;
    color:#fff;
    width:100%;

}
h4{
    color: #fff;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0px;
    margin-top: 64px;
    width: 100%;
    text-align: center;

}
h5{
    color:#3D82F2;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    width:100%;
    margin-top: 162px;
}
.p_4{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color:#707070;
    width: 620px;
}
h6{
    color: #fff;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 180px;
}
.images_4{
    height:auto;
    width: auto;
    max-width:50%;
    position:absolute;
    left: 49%;
    top: 120px;

}
.white_1{
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 112px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    width:100%;
    font-size: calc(1rem + 2vw);
}
.white_2{
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 112px;
    letter-spacing: 0px;
    text-align: left;
    float: left;
    color: #fff;
    font-size: calc(1rem + 2vw);

}
.blue{
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 112px;
    letter-spacing: 0px;
    color: #3C82F4;
    text-align: left;
    float: left;
    font-size: calc(1rem + 2vw);
}

.option{
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    color: #fff;
    width: 100%;
    text-align: left;
    float: left;

}
.btn_pull{
    width:100%;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 100px;
}
.btn_3{
    color: #b3b3b3;
    padding: 18px 21px 17px 22px;
    background: #000;
    border: 2px solid #b3b3b3;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s linear;
    width: 207px;
}
.btn_3:hover{
    color: #fff;
    background: #306EF7;
    border: 2px solid #306EF7;
}
.bullet{
    width:33px;
    height:33px;
    vertical-align: sub;
}
.photo{
    width:820px;
    height:591px;
    float: inline-end;
    margin-top: -200px;
}
step_2{
    width:100%;
    position: relative;
}
.left{
    height: 666px;
    width: 800px;
    padding-top:45px;
    padding-left:45px;
    position: relative;
    background:#0D0D0D;
    margin-top: 180px;
    float: left;

}
.mobile_div{
    text-align: right;
}
.mobile{
    width:215%;
    max-width:770px;
    top:73px;
    right:110px;

}

.right{
    background: #0D0D0D;
    height: 666px;
    width: 800px;
    padding-top:45px;
    padding-left:45px;
    
    margin-top: 180px;
}
.green{
    color: #0FC65C;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;
    float:left;
}
.gray{
    font-family: Poppins;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: 0px;
    text-align: left;
    float:inline-start;
    color:#919191;
    font-size: 3vw;
}
.wh{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: 0px;
    text-align: left;
    color:#fff;
    width: 100%;
    font-size: 3vw;
}

.image_2{
    width: 100%;
    height:442px;
    margin-top: 100px;
}
.meg{
    background: url(../images/Image-5.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height:800px;
    margin-top: 188px;
    padding:301px 120px 288px 120px;
}
.images_0{
    height:auto;
    width: auto;
    max-width:50%;
    position:absolute;
    left: 49%;
    top: 120px;

}
h3{
    color: #fff;
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px;
    width:100%;
    font-size: calc(1rem + 5vw);
}
.end_logo{
    width:9%;
    height:auto;
}
.p_5{
    font-family: Poppins;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    color:#fff;
    width: 100%;


}
.btn_4{
    color: #b3b3b3;
    padding: 29px 113px 28px 112px;
    background: #000;
    border: 2px solid #b3b3b3;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s linear;
    width:400px;


}
.footer{
    width: 100%;
}

.btn_4:hover{
    color: #fff;
    background: #306EF7;
    border: 2px solid #306EF7;
}
.nav_footer{
    float: right;
}
.ul_footer{
    list-style-type:none; 
}
.logo_footer{
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 63px;
    letter-spacing: 0px;
    margin-left: 10px;
    color: #fff;
    float: left;
}
.footer_logo{
    float: left;
}
.grey_footer{
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    color: #707070;


}
.smile{
    width:45px;
    vertical-align: sub;
}




