.container{
  background: url(../destination/img/Gro.png) center no-repeat;
  background-size:cover;
  width: 1440px;
  height: 900px;
  display: inline-block;

}
h3{
  margin-top: 155px ;

  margin-left: 70px;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  text-align: left;
  color:#fff;


}

