<div class="container">
  <app-planets></app-planets>
  <h1>EUROPA</h1>
  <p class="pg">Europa (ancient Greek Ἐυρώπη), or Jupiter II, is the sixth satellite of Jupiter, the smallest of the four Galilean satellites. Discovered in 1610 by Galileo Galilei[1] and probably by Simon Marius at the same time. Over the centuries, more and more comprehensive observations have been made of Europe with the help of telescopes, and observations since the seventies of the twentieth century - by spacecraft flying near.</p>
      <h4 class=>avg. dıstance</h4>
      <h4 class=>EST. TRAVEL TIME</h4>
      <h4 class="dst">670 900 KM</h4>
      <h4 class="dst">???</h4>
  </div>
