<div class="container">
  <app-planets></app-planets>
  <h1>TITAN</h1>
  <p class="pg">Titan (ancient Greek Τιτάν) is the largest satellite of Saturn, the second largest satellite in the solar system (after Jupiter's satellite Ganymede), is the only body in the solar system, except for the Earth, for which the stable existence of liquid on the surface has been proven, and the only satellite of the planet with a dense atmosphere. Titan became the first known satellite of Saturn - in 1655 it was discovered by the Dutch astronomer Christian Huygens.</p>
      <h4 class=>avg. dıstance</h4>
      <h4 class=>EST. TRAVEL TIME</h4>
      <h4 class="dst">1,2 MLRD KM</h4>
      <h4 class="dst">8 YEARS</h4>
  </div>
